
{% extends 'layout-home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div style="color:#fff;">
        <a class="hiddenanchor" id="signup"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="{{ path('briooz_usuario_reset') }}" method="post" id="form">
                        <h1>Nueva Contraseña</h1>
                        <p>Formulario para optener su nueva contraseña</p>

                        <div>
                            <label style="float:left;">(*) Email:</label>
                            <input type="text" id="email" class="form-control" name="email" value="" placeholder="Email"/> 
                            {% if error==1%}
                                <div class="campo_error" id="error_email" style="margin-bottom: 25px;">No existe un usuario con ese email registrado</div>
                            {%endif%}
                            <div class="campo_error hidden" id="error_email" style="margin-bottom: 25px;">Campo emmail requerido</div>
                        </div>
                        <div>
                            <label style="float:left;">(*) Nueva contraseña:</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Contraseña"/>
                            <div class="campo_error hidden" id="error_password" style="margin-bottom: 25px;">Campo contraseña requerido</div>
                        </div>
                        <div>
                            <label style="float:left;">(*) Repetir Nueva contraseña:</label>
                            <input type="password" id="re_password" class="form-control" name="re_password" placeholder="Repetir Contraseña"/>
                            <div class="campo_error hidden" id="error_re_password" style="margin-bottom: 25px;">Campo re contraseña requerido</div>
                            <div class="campo_error hidden" id="error_general" style="margin-bottom: 25px;"></div>

                        </div>
                        <div>
                            <p>(*) Todos los campos son obligatorios</p>
                            <a class="btn btn-primary btn-cambiar">Cambiar contraseña</a>

                        </div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1> <span style="font-weight: 500;color:#fff;">SGI</span></h1>
                                <p style="color:#fff;">Briooz Data Service©{{ "now"|date("Y") }} Todos los derechos reservados.<br/> Sistema de gestión de Inventarios. </p>
                            </div>
                        </div>

                    </form>
                </section>
            </div>

        </div>
    </div>  
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>

        $(".btn-cambiar").click(function (e) {
            var enviar = true;
            var email = $('#email');
            var password = $('#password');
            var re_password = $('#re_password');


            var error_email = $('#error_email');
            var error_password = $('#error_password');
            var error_re_password = $('#error_re_password');

            if (email.val() == "") {
                error_email.removeClass('hidden');
                enviar = false;
            } else {
                error_email.addClass('hidden');
            }

            if (password.val() == "") {
                error_password.removeClass('hidden');
                enviar = false;
            } else {
                error_password.addClass('hidden');
            }


            if (re_password.val() == "") {
                error_re_password.removeClass('hidden');
                enviar = false;
            } else {
                error_re_password.addClass('hidden');

                if (re_password.val() != password.val()) {
                    error_re_password.removeClass('hidden');
                    error_re_password.html('No coinciden las contraseñas');
                    enviar = false;
                } else {
                    error_re_password.addClass('hidden');
                }
            }
            console.log(enviar);

            if (enviar == true) {
                $('#form').submit();
            }
        });

    </script>
{% endblock %}
