{% extends 'gentelella.html.twig' %}
{% block body %}
    <section id="breadcrumb-container">
        Administración » <a href="{{path('briooz_zapato_index',{'cat':producto.categoria.id})}}">Productos</a> » <strong>Editar producto</strong>
    </section>
    <section id="titulo-container">
        <h2>Editar producto</h2>
    </section>
    <section>
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-plus-circle" aria-hidden="true"></i> <strong>Nuevo</strong></div>
            <div class="panel-body">
                <form action="{{path('briooz_zapato_update')}}" method="POST" id="form">
                    <div class="row" style="margin-bottom: 5px;">
                        <input type="hidden" name="idproducto" id="idproducto" value="{{producto.id}}" />
                        <div class="col-xs-12 col-md-6">
                            <fieltset>
                                <div class="form-group">
                                    <label>Código Interno<i class="fas fa-sort-down"></i></label>
                                    <input type="text" placeholder="(*) Código interno" name="codigointerno" id="codigointerno" class="form-control" value="{{producto.codigointerno}}"/>
                                    <div class="text-danger msj-error-form hidden" id="error_codigointerno"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Categoria<i class="fas fa-sort-down"></i></label>
                                    <select name="categoria" id="categoria" class="form-control">
                                        <option value="0">[ Categoria ]</option>
                                        {%for categoria in categorias %}
                                            <option value="{{categoria.id}}" {%if categoria.id==producto.categoria.id%}selected{%endif%}>{{categoria.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_categoria"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Modelo<i class="fas fa-sort-down"></i></label>
                                    <select name="modelo" id="modelo" class="form-control">
                                        <option value="0">[ Modelo ]</option>
                                        {%for modelo in modelos %}
                                            <option value="{{modelo.id}}" {%if modelo.id==producto.modelo.id%}selected{%endif%}>{{modelo.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_modelo"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Color<i class="fas fa-sort-down"></i></label>
                                    <select name="color" id="color" class="form-control">
                                        <option value="0">[ Color ]</option>
                                        {%for color in colores %}
                                            <option value="{{color.id}}" {%if color.id==producto.color.id%}selected{%endif%}>{{color.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_color"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Proveedor<i class="fas fa-sort-down"></i></label>
                                    <select name="proveedor" id="proveedor" class="form-control">
                                        <option value="0">[ Proveedor ]</option>
                                        {%for proveedor in proveedores %}
                                            <option value="{{proveedor.id}}" {%if proveedor.id==producto.proveedor.id%}selected{%endif%}>{{proveedor.empresa}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_proveedor"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Código proveedor<i class="fas fa-sort-down"></i></label>
                                    <input type="text" placeholder="(*) Código proveedor" name="codigoproveedor" id="codigoproveedor" class="form-control" value="{{producto.codigoproveedor}}"/>
                                    <div class="text-danger msj-error-form hidden" id="error_codigoproveedor"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Taco<i class="fas fa-sort-down"></i></label>
                                    <select name="taco" id="taco" class="form-control">
                                        <option value="0">[ Taco ]</option>
                                        {%for taco in tacos %}
                                            <option value="{{taco.id}}" {%if taco.id==producto.taco.id%}selected{%endif%}>{{taco.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_taco"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Bodega<i class="fas fa-sort-down"></i></label>
                                    <select name="bodega" id="bodega" class="form-control">
                                        <option value="0">[ Bodega ]</option>
                                        {%for bodega in bodegas %}
                                            <option value="{{bodega.id}}" {%if bodega.id==producto.bodega.id%}selected{%endif%}>{{bodega.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="text-danger msj-error-form hidden" id="error_bodega"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Fila <i class="fas fa-sort-down"></i></label>
                                    <input type="text" placeholder="(*) Fila" name="fila" id="fila" class="form-control" value="{{producto.fila}}"/>
                                    <div class="text-danger msj-error-form hidden" id="error_fila"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Costo <i class="fas fa-sort-down"></i></label>
                                    <input type="text" placeholder="(*) Precio" name="precio" id="precio" class="form-control" value="{{producto.precio}}"/>
                                    <div class="text-danger msj-error-form hidden" id="error_precio"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>PVP <i class="fas fa-sort-down"></i></label>
                                    <input type="text" placeholder="(*) PVP" name="pvp" id="pvp" class="form-control" value="{{producto.pvp}}"/>
                                    <div class="text-danger msj-error-form hidden" id="error_pvp"><i class="fas fa-exclamation-triangle"></i> El campo no puede ser vacio</div>
                                </div>
                                <div class="form-group">
                                    <label>Estado <i class="fas fa-sort-down"></i></label>
                                    <select name="estado" id="estado" class="form-control">
                                        <option value="0">[ Estado del producto ]</option>
                                        {%for estado in estados %}
                                            <option value="{{estado.id}}" {%if estado.id==producto.estado.id%}selected{%endif%}>{{estado.descripcion}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Calificación <i class="fas fa-sort-down"></i></label>
                                    <select name="calificacion" id="calificacion" class="form-control">
                                        <option value="0">[ Seleccione la calificacion del producto]</option>
                                        <option value="a" {%if producto.calificacion=="a"%}selected{%endif%}>A</option>
                                        <option value="aa" {%if producto.calificacion=="aa"%}selected{%endif%}>AA</option>
                                        <option value="aaa" {%if producto.calificacion=="aaa"%}selected{%endif%}>AAA</option>
                                    </select>
                                </div>
                            </fieltset>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Tallas <i class="fas fa-sort-down"></i></label>
                                    {% set per=0%}
                                    {% set cantidad=0 %}
                                    {% for talla in tallas %}
                                        {%for protalla in tallaspro%}
                                            {%if protalla.talla.id==talla.id%}
                                                {%set per=1%}
                                                {% set cantidad=protalla.cantidad%}
                                            {%endif%}
                                        {%endfor%}
                                    <div>
                                        <label>
                                            <span class="numero_tallas">{{talla.descripcion}}</span> <input type="checkbox" class="js-switch tallaCheck small" name="talla{{talla.id}}"  id="talla{{talla.id}}" data-id="{{talla.id}}" value="{{talla.id}}" {%if per==1%} checked {%endif%}/> 
                                            <input type="number"  name="cantidadtalla{{talla.id}}" id="cantidadtalla{{talla.id}}" value="{{cantidad}}" placeholder="0" min="0"  class="form-control {%if per==0%}hidden{%endif%}" style="width: 75px;display: inline-block;margin-left: 10px;"/>
                                        </label>
                                    </div>
                                    {% set per=0%}
                                    {% set cantidad=0 %}
                                {%endfor%}
                            </div>
                            <div class="form-group">
                                <label>Detalles <i class="fas fa-sort-down"></i></label>
                                <textarea name="detalle" id="detalle" class="form-control" rows="8" placeholder="Detalles del zapato">{{producto.detalle}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Compra o Lote <i class="fas fa-sort-down"></i></label>
                                <input type="text" name="compra" id="compra" class="form-control" value="{{producto.compra.factura}}" placeholder="Escriba número de lote o factura">
                                <div id="cont-result-compra"></div>
                                <div class="text-danger msj-error-form hidden" id="error_compra"><i class="fas fa-exclamation-triangle"></i> Debe asociar el producto a una compra</div>
                            </div>
                            <div class="form-group">
                                <label>Mínimo <i class="fas fa-sort-down"></i></label>
                                <input type="number" name="minimo" id="minimo" class="form-control" value="1" min="0">
                            </div>
                            <div class="form-group">
                                <label>Máximo <i class="fas fa-sort-down"></i></label>
                                <input type="number" name="maximo" id="maximo" class="form-control" value="20" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <input type="hidden" id="id_compra_selected" name="id_compra_selected" value="" />
                        <a href="#" id="boton-enviar"  class="btn btn-success"><i class="fas fa-save"></i> Guardar</a>
                        <a href="#" id="boton-cancelar"  class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
                    </div>
                    <div class="row" style="margin-bottom: 7px;">
                        <div class="col-xs-12" style="text-align:left;">
                            <span class="text-danger"><strong>(*) campo obligatorio</strong></span>
                        </div>
                    </div>
                </form>
                <form id="form-buscar-compra-ajax" method="POST" action="{{path('briooz_zapato_buscar_compra')}}">
                </form>

            </div>
        </div>
    </section>    
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        $(function () {

            $('#compra').keyup(function (e) {

                var compra = $('#compra');
                var form = $('#form-buscar-compra-ajax');
                var url = form.attr('action');
                var data = {'compra': compra.val()};

                $.post(url, data, function (result) {

                    var compras = result.compras;
                    var html = "";
                    html += " <div class='table-responsive'>";
                    html += "<table class='table table-striped table-hover'>";
                    html += "<thead>";
                    html += "<tr>";
                    html += "<th width='5%'>Id</th>";
                    html += "<th width='15%'>Lote</th>";
                    html += "<th width='30%'>Factura</th>";
                    html += "<th width='20%'>Proveedor</th>";
                    html += "<th width='25%'>Fecha</th>";
                    html += "<th width='5%'></th>";
                    html += "</tr>";
                    html += "</thead>";
                    html += "<tbody>";

                    $.each(compras, function (index) {
                        html += "<tr data-id='" + compras[index]['id'] + "'>";
                        html += "<td>" + compras[index]['id'] + "</td>";
                        html += "<td>" + compras[index]['lote'] + "</td>";
                        html += "<td>" + compras[index]['factura'] + "</td>";
                        html += "<td>" + compras[index]['proveedor'] + "</td>";
                        html += "<td>" + compras[index]['fecha'] + "</td>";
                        html += "<td><input type='radio' name='compraselect' value='" + compras[index]['id'] + "' class='radioselectcompra'></td>";
                        html += "</tr>";
                    });

                    html += "</tbody>";
                    html += "</table>";
                    html += "</div>";

                    $('#cont-result-compra').html(html);

                })

            });

            $('#cont-result-compra').on('click', '.radioselectcompra', function () {
                var row = $(this).parents('tr');
                var id = row.data('id');
                $('#id_compra_selected').val(id);
            });

            $('.tallaCheck').change(function (e) {

                var id = $(this).data('id');

                var idCantidad = "#cantidadtalla" + id;

                if ($(this).is(':checked')) {
                    $(idCantidad).removeClass('hidden');
                } else {
                    $(idCantidad).addClass('hidden');
                }

                console.log(id);

            });


            $('#boton-cancelar').click(function (e) {
                e.preventDefault();
                $('#form')[0].reset();
            });

            $('#boton-enviar').click(function (e) {
                e.preventDefault();

                var enviar = true;
                var codigointerno = $('#codigointerno');
                var categoria = $('#categoria');
                var modelo = $('#modelo');
                var color = $('#color');
                var taco = $('#taco');
                var proveedor = $('#proveedor');
                var codigoproveedor = $('#codigoproveedor');
                var bodega = $('#bodega');
                var fila = $('#fila');
                var precio = $('#precio');
                var pvp = $('#pvp');

                var error_codigointerno = $('#error_codigointerno');
                var error_categoria = $('#error_categoria');
                var error_modelo = $('#error_modelo');
                var error_color = $('#error_color');
                var error_taco = $('#error_taco');
                var error_proveedor = $('#error_proveedor');
                var error_codigoproveedor = $('#error_codigoproveedor');
                var error_bodega = $('#error_bodega');
                var error_fila = $('#error_fila');
                var error_precio = $('#error_precio');
                var error_pvp = $('#error_pvp');

                if (codigointerno.val() == "") {
                    enviar = false;
                    error_codigointerno.removeClass('hidden');
                    codigointerno.css('border-color', '#a94442');
                } else {
                    error_codigointerno.addClass('hidden');
                    codigointerno.css('border-color', '#ccc');
                }

                if (categoria.val() == 0) {
                    enviar = false;
                    error_categoria.removeClass('hidden');
                    categoria.css('border-color', '#a94442');
                } else {
                    error_categoria.addClass('hidden');
                    categoria.css('border-color', '#ccc');
                }

                if (modelo.val() == 0) {
                    enviar = false;
                    error_modelo.removeClass('hidden');
                    modelo.css('border-color', '#a94442');
                } else {
                    error_modelo.addClass('hidden');
                    modelo.css('border-color', '#ccc');
                }

                if (color.val() == 0) {
                    enviar = false;
                    error_color.removeClass('hidden');
                    color.css('border-color', '#a94442');
                } else {
                    error_color.addClass('hidden');
                    color.css('border-color', '#ccc');
                }

                if (taco.val() == 0) {
                    enviar = false;
                    error_taco.removeClass('hidden');
                    taco.css('border-color', '#a94442');
                } else {
                    error_taco.addClass('hidden');
                    taco.css('border-color', '#ccc');
                }

                if (proveedor.val() == 0) {
                    enviar = false;
                    error_proveedor.removeClass('hidden');
                    proveedor.css('border-color', '#a94442');
                } else {
                    error_proveedor.addClass('hidden');
                    proveedor.css('border-color', '#ccc');
                }

                if (codigoproveedor.val() == "") {
                    enviar = false;
                    error_codigoproveedor.removeClass('hidden');
                    codigoproveedor.css('border-color', '#a94442');
                } else {
                    error_codigoproveedor.addClass('hidden');
                    codigoproveedor.css('border-color', '#ccc');
                }

                if (bodega.val() == 0) {
                    enviar = false;
                    error_bodega.removeClass('hidden');
                    bodega.css('border-color', '#a94442');
                } else {
                    error_bodega.addClass('hidden');
                    bodega.css('border-color', '#ccc');
                }

                if (fila.val() == "") {
                    enviar = false;
                    error_fila.removeClass('hidden');
                    fila.css('border-color', '#a94442');
                } else {
                    error_fila.addClass('hidden');
                    fila.css('border-color', '#ccc');
                }

                if (precio.val() == "") {
                    enviar = false;
                    error_precio.removeClass('hidden');
                    precio.css('border-color', '#a94442');
                } else {
                    error_precio.addClass('hidden');
                    precio.css('border-color', '#ccc');
                }

                if (pvp.val() == "") {
                    enviar = false;
                    error_pvp.removeClass('hidden');
                    pvp.css('border-color', '#a94442');
                } else {
                    error_pvp.addClass('hidden');
                    pvp.css('border-color', '#ccc');
                }


                if (enviar == true) {
                    $('#form').submit();
                }
            });
        });
    </script>
{% endblock %}
